@using WebApplication1.Models
@using WebApplication1.Extensions
@model Osoba

@{
    ViewBag.Title = Model.Imie + " " + Model.Nazwisko;
}

<h2>@Model.ToString()</h2>
@if (!string.IsNullOrEmpty(Model.Zdjecie))
{
@Html.Img(Model.Zdjecie, 300, 300)
}

@Html.ActionLink("Generuj PDF", "Pdf", new {IDOsoby = Model.ID })
